[submodule "Cortex"]
	path = Cortex
	url = https://github.com/pepedro97/Cortex
[submodule "Web-APP"]
	path = Web-APP
	url = https://github.com/pepedro97/Web-APP
[submodule "Spark-CN"]
	path = Spark-CN
	url = git@github.com:Gustavo-SF/Spark-CN.git
[submodule "Rest_API"]
	path = Rest_API
	url = git@github.com:pepedro97/Rest_API.git
